#!/usr/bin/make -f

# This script uses debhelper by Joey Hess
#export DH_VERBOSE=1
DEB=$(CURDIR)/debian/tmp
DEV=debian/libsocksd0-dev
CLIENTLIB=debian/libdsocksd0
CLIENT=debian/dante-client
SERVER=debian/dante-server

include /usr/share/quilt/quilt.make

CFLAGS+=	-D_REENTRANT

build:	build-stamp

build-stamp: ${QUILT_STAMPFN}
	dh build --before dh_auto_configure
	cp /usr/share/misc/config.guess /usr/share/misc/config.sub . 
	dh_auto_configure -- CFLAGS="${CFLAGS}" --prefix=/usr \
	  --with-socks-conf=/etc/dante.conf \
	  --with-sockd-conf=/etc/danted.conf \
	  --with-pidfile=/var/run/danted.pid
	dh build --remaining
	touch build-stamp

clean:
	dh "$@" --before dh_clean
	for d in sockd dlib; do \
	  cd $$d; \
	  for i in *; do \
	    if [ -L "$$i" ]; then rm $$i; cp -a ../lib/$$i . ; fi \
	  done; \
	  cd ..; \
	done
	$(MAKE) -f debian/rules unpatch
	dh_clean example/dante.conf example/danted.conf \
	  config.guess config.sub
	dh clean --remaining

install:	build
	dh "$@" --before dh_install
	mv $(DEB)/usr/share/man/man5/socks.conf.5  $(DEB)/usr/share/man/man5/dante.conf.5
	mv $(DEB)/usr/share/man/man5/sockd.conf.5  $(DEB)/usr/share/man/man5/danted.conf.5
	mv $(DEB)/usr/share/man/man8/sockd.8 $(DEB)/usr/share/man/man8/danted.8
	mv $(DEB)/usr/sbin/sockd $(DEB)/usr/sbin/danted
	cp example/socks.conf example/dante.conf
	cp example/sockd.conf example/danted.conf
	dh_installdocs -A README doc/faq.tex doc/README.usage doc/README.survey BUGS CREDITS TODO SUPPORT
	dh_installdocs -pdante-client doc/README.socksify
	dh_installdocs -pdante-client -pdante-server doc/README.msproxy
	dh_installdocs -pdante-server doc/SOCKS4.protocol
	dh_installchangelogs NEWS
	dh_installinit -pdante-server -r --init-script=danted
	dh_link -plibsocksd0-dev /usr/lib/libsocksd0.so.0 /usr/lib/libsocksd.so
	dh "$@" --remaining

binary-indep:	build install
	# Nothing to do here

binary-arch:	build install
	dh "$@"

binary:	binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
